/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.appointment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  min-height: 100px;
}

.appointment img {
  width: 50px;
  height: 50px;
}

.pet {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appWrap {
  grid-template-areas:
    'schedule schedule schedule calendar'
    'schedule schedule schedule delete';
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

.schedule {
  grid-area: schedule;
}

.calendar {
  grid-area: calendar;
}

.delete {
  grid-area: delete;
  border: 2px solid black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  left: 0;
  align-self: start;
  z-index: 9999;
}

.dateWrap {
  margin-right: 5px;
  margin-left: 5px;
}

.header svg {
  cursor: pointer;
}

.deleteText {
  margin-left: 10px;
}

aside {
  position: sticky;
  top: 40px;
  left: 0;
  align-self: start;
}

.calendarIcon {
  display: none;
}

.timeFrame {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 600px) {
  aside {
    display: none;
  }
  .calendarIcon {
    display: block;
  }
  header {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .timeFrame {
    flex-direction: column;
  }
  .calendar  {
    width: 100% !important;
  }
}
